#item-bar:hover {
  background: #999;
  border-radius: 5px;
  cursor: pointer;
}

#item-bar p,
#item-bar h6 {
  margin-bottom: 0;
}

#item-bar .date-time {
  font-size: 0.7rem;
  opacity: 0.6;
}

#item-bar .border-img {
  border-radius: 5px;
}
