language: node_js
node_js:
  - "stable"
cache:
  directories:
    - node_modules
before_install:
  - echo "$github_key"
script:
  - yarn build
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $github_key
  local_dir: build
  on:
    branch: master
