@import "../../assets//globalStyles/global.scss";

.logo-container {
  float: left;
  height: 64px;
  width: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.light {
  @include lightTheme;
  box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);
}

.dark {
  @include darktheme;
}

.logo {
  height: 40px;
}

#header.light a {
  text-decoration: none;
  color: rgba($lightFg, 0.5);
  font-weight: 500;
  font-size: 1rem;
}

#header.light a:hover,
#header.light .active {
  color: $lightFg;
}

#header.dark a {
  text-decoration: none;
  color: rgba($darkFg, 0.5);
  font-weight: 500;
  font-size: 1rem;
}

#header.dark a:hover,
#header.dark .active {
  color: $darkFg;
}

#navbar {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
