@import "../../assets//globalStyles/global.scss";

.light {
  @include lightTheme;
  box-shadow: 1px 2px 18px rgba(0, 0, 0, 0.1);
}

.dark {
  @include darktheme;
}

#navbar {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
