body {
  margin: 0;
  font-family: "Helvetica Neue", "Segoe UI", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  opacity: 0.7;
  cursor: pointer;
}
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
  opacity: 1;
}
