@import "../../assets/sharedStyles/sharedStyles.scss";

#profile-card {
  text-align: center;
}

#profile-card .image {
  height: 200px;
}

#profile-card button {
  min-width: 100px;
}

#profile-card.dark {
  @include darkTheme;
  box-shadow: 3px 5px 20px rgba($darkFg, 0.16);
}

#profile-card.light {
  @include lightTheme;
  box-shadow: 3px 5px 20px rgba($lightFg, 0.16);
}
